@theme {
  --animate-slow-zoom: slow-zoom 20s infinite alternate;

  @keyframes slow-zoom {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.15);
    }
  }
}
@import 'tailwindcss';

.c-g {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 900;
}

.e-o-r {
  font-family: "Emblema One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.dosis {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.dosis-bold {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}