@import "tailwindcss";

.geom {
  font-family: "Geom", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.bbh {
  font-family: "BBH Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.c-g {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 900;
}

.e-o-r {
  font-family: "Emblema One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.dosis {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.dosis-bold {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}